/*CSS*/
body {
	font-family: 'Poppins', sans-serif;
}
.header img {
	width: 100%;
	height: auto;
}
	.prijava_button img {
		width: 30px;
	}

.prijava_button {
	position: absolute;
	top: 10px;
	left: 10px;
}
	.prijava_button button {
		background-color: transparent;
		border: none;
		border-radius: 5px;
		padding: 10px;
		color: #fff;
	}

	.odjava_button {
		border: none;
		color: #fff;
		background-color: #015249;
		padding: 10px;
		border-radius: 5px;
		position:absolute;
		top: 10px;
		left: 10px;
	}
	.odjava_button:hover {
		background: linear-gradient(to bottom, #4d857f 5%, #015249 100%);
		background-color: #4d857f;
		border: none;
		padding: 10px;
		color: #fff;
	}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default,
.navbar-nav>li>.dropdown-menu {
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	width: auto;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.dropdown-menu>li>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:active,
.dropdown-menu>li>a:focus,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #fff;
}
	.navbar-default .navbar-nav>li>a:hover,
	.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover {
		background-color: rgba(255,255,255, 0.2);
	}
.row {
	margin: 0;
}



.kontent {
	background-color: #C4B9AB;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
}


.googlemapa iframe {
	width: 100%;
	height: 600px;
}

.footer {
	background-color: #015249;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}
.partneri img {
	width: 80px;
	margin: 10px;
}
.podaci {
	text-align: left; 
}
.podaci p {
	margin: 0;
}
.podaci a,
.podaci a:focus, 
.podaci a:hover {
	color: #fff;
}

/*-------pocetak tekst----------*/
.prijavi {
	text-align: center;
	margin: 0 auto;
}
	.prijavi div {
		width: 50%;
		background-color: rgba(1,82,73,0.5);
		margin: -250px auto 0;
		padding: 15px;
		border-radius: 10px;
		color: #fff;
	}
	.prijavi p {
		font-size: 17px;
	}


/*------forme --------------*/
.kontakt .kontakt_kontent {
	width: 40%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
	.kontakt h2 {
		text-align: center;
		padding-bottom: 20px;
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		font-weight: 100;
		padding: 20px;
		background-color: #4D4D4D;
	}
	.kontakt form {
		padding: 0 15px;
	}
.kontakt_kontent input,
.kontakt_kontent textarea {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px;
    height: 45px;
}
	.kontakt .btn-default {
		margin-bottom: 10px;
	}
.btn-default {
		background: linear-gradient(to bottom, #015249 5%, #015249 100%);
		background-color: #015249;
		border: none;
		border-radius: 5px;
		padding: 10px;
		color: #fff;
}

.btn-default:hover,
.btn-default:focus {
		background: linear-gradient(to bottom, #4d857f 5%, #015249 100%);
		background-color: #4d857f;
		border: none;
		border-radius: 5px;
		padding: 10px;
		color: #fff;
}

.prikazi {
	margin: 0 auto;
	display: block;
	border: none;
	padding: 15px;
	font-size: 18px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #015249;
}
.prikazi:hover {
	background-color: #4d857f;
	background: linear-gradient(to bottom, #4d857f 5%, #015249 100%);
}
/*------modal------------*/
.modal {
	top:40px;
	left: 10px;
	right: initial;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: transparent !important;
}
.modal-dialog {
	width: 400px;
}

/*-----problemi-----*/
.prijave_admin div {
	background-color: rgba(1,82,73,0.5);
	color: #fff;
	padding: 15px;
	border-radius: 10px;
	min-height: 300px;
	margin-bottom: 30px;
	height: auto;
}

	.adresa_prijave {
		font-size: 25px;
		text-align: center;
	}

	.opis_prijave {
		font-size: 20px;
		height: 100px;
		text-align: justify;
	}

	.prijave_admin img {
		width: 30px;
	}
		.prijave_admin .obrisi {
			right: 25px;
			position: absolute;
			cursor: pointer;
			bottom: 40px;
		}


@media(max-width: 1024px){
	.prijavi div {
		width: 60%;
		margin: -210px auto 0;
	}
	.adresa_prijave {
		font-size: 20px;
		height: 70px;
	}
}

@media(max-width: 900px) {
	.prijavi div {
		width: 75%;
		margin: -160px auto 50px;
	}
	.kontakt .kontakt_kontent {
		width: 75%;
	}
}

@media(max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar .navbar-collapse {
		border: none;
		background-color: #015249;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.prijavi h1 {
		font-size: 30px;
	}
	.prijavi p {
		font-size: 15px;
	}
}

@media(max-width: 640px) {
	.kontakt .kontakt_kontent {
		width: 80%;
	}
	.prijavi div {
		width: 80%;
		margin: -100px auto 50px;
	}
}

@media(max-width: 480px) {
	.prijavi div {
		margin: -70px auto 50px;
	}
	.prijavi h1 {
		font-size: 27px;
	}
}

@media(max-width: 414px) {
	.kontakt .kontakt_kontent,
	.prijavi div {
		width: 95%;
	}
	.prijavi p,
	.kontakt_kontent input, .kontakt_kontent textarea,
	.prikazi {
		font-size: 13px;
	}
	.prijavi h2 {
		font-size: 25px;
	}
	.modal-open .modal,
	.modal-dialog {
		width: 95%;
	}
}

@media(max-width: 360px) {
	.prijavi div {
		margin: -40px auto 50px;
	}
}